
body {
    background-color: black;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    color: maroon;
    font-family: georgia;
    text-align: center;
    font-size: 75px;

} 

img [
    
]

h2 {
    color: maroon;
    font-family: georgia;
} 

h4 {
    color: maroon;
    font-family: georgia;

} 
p {
	color: maroon;
	float: left;
    font-size: 30px;
}
